In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_titanic = pd.read_csv('train (2).csv')

In [ ]:
df_titanic

In [ ]:
df_titanic.describe()

Здесь мы видим: 38% пассажиров выжили. 177 Отсутствуют значения возраста. мы должны что-то сделать с отсутствующими значениями.

Заменим отсутствующие значения возраста средним

In [ ]:
mean_age = df_titanic['Age'].mean()
df_titanic['Age'] = df_titanic['Age'].fillna(mean_age)
print(df_titanic.isnull().sum())

In [ ]:
df_titanic.describe()

Получается, что средний возраст выживаемости - 29 лет

In [ ]:
df_titanic.query('Sex == "female"').shape[0]

In [ ]:
df_titanic.query('Sex == "male"').shape[0]

Изначально мужчин было больше, чем женщин

In [ ]:
print(df_titanic['Survived'].value_counts().reset_index())

Всего выжило 342 человека

In [ ]:
df_titanic.groupby(['Embarked', 'Sex'], as_index=False).aggregate({'Survived' : 'sum'}).sort_values('Embarked', ascending=False)

Женщин выжило - 231, мужчин же всего - 109. Больше выживших по колличеству людей было с порта Саутгемптон.

In [ ]:
percent_sex_survive = pd.crosstab(df_titanic.Sex, df_titanic.Survived).apply(lambda r: r/r.sum(), axis=1)
print (percent_sex_survive)

Узнаем процент выживаемости из любопытства

In [ ]:
percent_sex_survive.plot(kind='bar', stacked=True)
plt.title('Survival vs Sex')
plt.xlabel('Pass. Sex')
plt.ylabel('Percent')
plt.legend(['Not survived', 'Survived'])
plt.show()

In [ ]:
df_titanic.groupby(['Embarked', 'Sex'], as_index=False).aggregate({'Fare' : 'sum'}).sort_values('Embarked', ascending=False)

Больше всего денег на билеты потратили люди из порта Саутгемптон.

In [ ]:
df_titanic.groupby(['Embarked', 'Sex'], as_index=False).agg({'Fare' : 'mean'}).round(2)

В среднем же больше потратились люди из Шербура, преимущественно женщины.

In [ ]:
df_titanic[df_titanic['Pclass'] == 1]

In [ ]:
df_1class = df_titanic[df_titanic['Pclass'] == 1]

Пассажиров первого класса было 216 человек

In [ ]:
df_titanic[df_titanic['Pclass'] == 2 ]

In [ ]:
df_2class = df_titanic[df_titanic['Pclass'] == 2]

Пассажиров второго класса было 184 человека

In [ ]:
df_titanic[df_titanic['Pclass'] == 3 ]

In [ ]:
df_3class = df_titanic[df_titanic['Pclass'] == 3]

Пассажиров третьего класса было 491 человек

In [ ]:
df_titanic['Pclass'].value_counts()

In [ ]:
df_1class.groupby(['Embarked', 'Sex'], as_index=False).agg({'Fare' : 'mean'}).round(2)

In [ ]:
df_2class.groupby(['Embarked', 'Sex'], as_index=False).agg({'Fare' : 'mean'}).round(2)

In [ ]:
df_3class.groupby(['Embarked', 'Sex'], as_index=False).agg({'Fare' : 'mean'}).round(2)

По средним значениям видно что во всех 3-х классах выживших было больше из числа женщин 1 класса из порта Шербур.

In [ ]:
print(df_titanic['Embarked'].value_counts().reset_index())

In [ ]:
df_titanic.Embarked.value_counts(normalize=True).mul(100).round(2)

In [ ]:
n = df_titanic.groupby(['Embarked', 'Sex'], as_index=False).agg({'Survived' : 'mean'}).round(2)
print(n)

Средние значения выживших среди женщин и мужчин с разных портов посадки.

In [ ]:
graph = sns.barplot(data=n, x = 'Sex', y = 'Survived', color = 'red')

В итоге: Выжило 38% пассажиров. Большая выживаемость была у женщин, преимущественно 1 класса из порта Шербур. Так же они больше всех потратитились на билеты. Средний возраст выживаемости - 29 лет.